body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

main {
    overflow: hidden;
    padding: 0.5em;
}

section {
    float: left;
    width: 100%;
    margin-bottom: 1em;
}

section article {
    background-color: #f9f9f9;
    padding: 1em;
    margin: 0.5em;
    width: 50%;
}

section article {
    width: 100%;
}

section article:nth-child(odd) {
    background-color: rgb(209, 208, 207);
}

section article:nth-child(1) {
    float: left;
    width: 50%;
    background-color: #f9f9f9;
}

section article:last-child {
    clear: both;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    clear: both;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em 1.5em;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    main, aside {
        float: none;
        width: 100%;
    }
}