body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0 20em;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

main {
    overflow: hidden;
    padding: 0.5em;
}

section {
    float: left;
    max-width: 100%;
    margin-bottom: 1em;
}

section article {
    background-color: #f9f9f9;
    padding-right: 1em;
    margin: 0.5em;
    padding: 0.1em;
    width: 100%;
}

section article:nth-child(odd) {
    background-color: rgb(209, 208, 207);
}

section article:nth-child(1) {
    float: left;
    width: 60%;
    background-color: #f9f9f9;
}

img {
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    clear: both;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em 1em;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 1280px) {

    body {
        margin: 0 16em;
    }

    section article {
        width: 100%;
    }

    section article:nth-child(1) {
        width: 60%;
    }
}

@media (max-width: 1024px) {

    body {
        margin: 0 2em;
    }

    section article {
        width: 100%;
    }

    section article:nth-child(1) {
        width: 60%;
    }
}

@media (max-width: 768px) {

    body {
        margin: 0.5em;
    }

    main, aside {
        width: 100%;
    }

    section article {
        clear: both;
        width: 100%;
    }

    section article:nth-child(1) {
        width: 100%;
    }
}